@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 56% 94%;
    --foreground: 20 14.3% 4.1%;
    --card: 30 56% 94%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 30 56% 94%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 33 100% 50%;
    --primary-foreground: 33 100% 95%;
    --secondary: 30 50% 90%;
    --secondary-foreground: 20 14.3% 4.1%;
    --muted: 30 50% 90%;
    --muted-foreground: 24 9.8% 38.8%;
    --accent: 43 89% 38%;
    --accent-foreground: 43 89% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 40% 88%;
    --input: 30 40% 88%;
    --ring: 33 100% 50%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
